<a href="https://colab.research.google.com/github/Hrotich/HRK/blob/main/WEEK_4_RESUBMISSION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing the libraries we will need 

# Importing the pandas library
# 
#OUR CODE GOES HERE
import pandas as pd

# Importing the numpy library
#
#OUR CODE GOES HERE
import numpy as np

In [ ]:
#Let's read the data from the CSV file and create the dataframe to be used
# 
# OUR CODE GOES HERE

df= pd.read_csv("/content/Autolib_dataset (2).csv")

In [ ]:
# We count the number of non - missing values in the df dataframe
df.count()

Address                5000
Cars                   5000
Bluecar counter        5000
Utilib counter         5000
Utilib 1.4 counter     5000
Charge Slots           5000
Charging Status        5000
City                   5000
Displayed comment       111
ID                     5000
Kind                   5000
Geo point              5000
Postal code            5000
Public name            5000
Rental status          5000
Scheduled at             47
Slots                  5000
Station type           5000
Status                 5000
Subscription status    5000
year                   5000
month                  5000
day                    5000
hour                   5000
minute                 5000
dtype: int64

In [ ]:
 
# of rows in the dataframe in order to determine the no. of missing values as shown
# 
num_rows = df.shape[0]
num_missing = num_rows - df.count() 
num_missing

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [ ]:
# to find out the size of our dataset
# 
df.shape

(5000, 25)

In [ ]:
# to replace na with 0 
# 
df_recode = df.fillna(0)

# then preview the first 5 rows for the recoded dataframe
#
#OUR CODE GOES HERE
df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [ ]:
#to check missing data
df.isnull()

      Address   Cars  Bluecar counter  ...    day   hour  minute
0       False  False            False  ...  False  False   False
1       False  False            False  ...  False  False   False
2       False  False            False  ...  False  False   False
3       False  False            False  ...  False  False   False
4       False  False            False  ...  False  False   False
...       ...    ...              ...  ...    ...    ...     ...
4995    False  False            False  ...  False  False   False
4996    False  False            False  ...  False  False   False
4997    False  False            False  ...  False  False   False
4998    False  False            False  ...  False  False   False
4999    False  False            False  ...  False  False   False

[5000 rows x 25 columns]

In [ ]:
# to drop irrelevant data

#df.drop(["Scheduled at"], axis = 1, inplace = True) 
#df.head(4)
df=df.drop(['Scheduled at','Displayed comment','Station type'],axis=1)
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 22 columns]

DATA CLEANING

In [ ]:
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 22 columns]

In [ ]:
# Checking if there is any missing value in dataframe as a whole
# Uncomment the following line after running the previous lines
df.isnull()

      Address   Cars  Bluecar counter  ...    day   hour  minute
0       False  False            False  ...  False  False   False
1       False  False            False  ...  False  False   False
2       False  False            False  ...  False  False   False
3       False  False            False  ...  False  False   False
4       False  False            False  ...  False  False   False
...       ...    ...              ...  ...    ...    ...     ...
4995    False  False            False  ...  False  False   False
4996    False  False            False  ...  False  False   False
4997    False  False            False  ...  False  False   False
4998    False  False            False  ...  False  False   False
4999    False  False            False  ...  False  False   False

[5000 rows x 22 columns]

In [ ]:
# to quick check to see if we have any missing values at all
# Uncomment the following line after running the previous lines
df.isnull().values.any()

False

In [ ]:
# to get a total count of missing values
# Uncomment the following line after running the previous lines
print(df.isnull().sum().sum())

0

In [ ]:
# Dropping all attributes with any NA values
# 
all_cols_any_na = df.dropna(axis=1)
print(all_cols_any_na)

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 22 columns]

In [ ]:
# to check for consistency
df_duplicate = df1[df1.duplicated(keep= 'last')]
print("df_duplicate Rows:")
df_duplicate

df_duplicate Rows:

Empty DataFrame
Columns: [unnamed:_0, address, cars, bluecar_counter, utilib_counter, utilib_1.4_counter, charge_slots, charging_status, city, id, kind, geo_point, postal_code, public_name, rental_status, slots, status, subscription_status, year, month, day, hour, minute]
Index: []

In [ ]:
# to fix messy columns
# we use strip(), lower() and replace() functions
# 
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
df.head()

                              address  cars  bluecar_counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 22 columns]

In [ ]:
df.columns

Index(['address', 'cars', 'bluecar_counter', 'utilib_counter',
       'utilib_1.4_counter', 'charge_slots', 'charging_status', 'city', 'id',
       'kind', 'geo_point', 'postal_code', 'public_name', 'rental_status',
       'slots', 'status', 'subscription_status', 'year', 'month', 'day',
       'hour', 'minute'],
      dtype='object')

In [ ]:

# TO EXPORT CLEANED DATA
df.to_csv("clean1.csv")

In [147]:
# Data analysis
df= pd.read_csv("/content/clean1.csv")
df.head()

   Unnamed: 0                             address  cars  ...  day  hour  minute
0           0                 2 Avenue de Suffren     0  ...    8    11      43
1           1           145 Rue Raymond Losserand     6  ...    6     7      24
2           2    2 Avenue John Fitzgerald Kennedy     3  ...    3    20      14
3           3              51 Rue EugÃ¨ne OudinÃ©     3  ...    4     4      37
4           4  6 avenue de la Porte de Champerret     3  ...    8    17      23

[5 rows x 23 columns]

In [157]:
df["bluecar_counter"]

0       0
1       6
2       3
3       3
4       3
       ..
4995    2
4996    4
4997    1
4998    2
4999    4
Name: bluecar_counter, Length: 5000, dtype: int64

In [167]:
# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) 
#in the city of Paris over the month of April 2018.
#df['hour','city'].value_counts().head()
df[["hour", "city"]].value_counts()

hour  city
21    Paris                  147
8     Paris                  128
16    Paris                  128
3     Paris                  125
6     Paris                  124
                            ...
13    Champigny-sur-Marne      1
      Bois-Colombes            1
      Bagnolet                 1
      Argenteuil               1
12    Argenteuil               1
Length: 1150, dtype: int64

In [ ]:
#What is the most popular hour for returning cars?

In [168]:
#What postal code is the most popular for picking up Blue cars? 


df.postal_code.mode()

0    75015
dtype: int64

In [ ]:
#Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?